.section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}
.section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}
.moon
{
    mix-blend-mode: screen;
}
.section img#mountains_front
{
    z-index: 10;
}
.text
{
    position: absolute;
    top: 30%;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
}
.btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.contatos
{
    display: grid;
    position: relative;
    padding: 10%;
    background: #1c0522;
}
.contatos h2
{
    font-size: 3.5vw;
    margin-bottom: 10px;
    color: #fff;
}
.contatos p
{
    font-size: 1.5em;
    color: #fff;
}
.redesSocias
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 2.5vw;
}
.quemSomos
{
    display: grid;
    position: relative;
    padding: 10%;
    background: #1c0522;
}
.quemSomos h2
{
    font-size: 3.5vw;
    margin-bottom: 10px;
    color: #fff;
}
.quemSomos p
{
    text-align: justify;
    font-size: 2em;
    color: #fff;
}
.image
{
    width: 3vw;
    height: 3vw;
}
@media (max-width: 800px)
{
    .contatosTexto
    {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 667px)
{
    .quemSomos h2
    {
        font-size: 5vw;
    }
    .quemSomos p
    {
        font-size: 1em;
    }
    .contatos h2
    {
        font-size: 5vw;
    }
    .contatos p
    {
        font-size: .5em;
    }
}